//Background color pallete
$clr1: #3e3e3e;
$clr2: #6C5869;
$clr3: #AD707F;
$clr4: #1e1e1e;
// fonts
@font-face {
    font-family: candice;
    src: url("~@/assets/fonts/Candice-qw5r.ttf");
}

@font-face {
    font-family: despairs;
    src: url("~@/assets/fonts/Despairs-X3Wxo.ttf");
}

@font-face {
    font-family: montserrat-regular;
    src: url("~@/assets/fonts/Montserrat-Regular.ttf");
}