footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    color: #fff;
    height: 60px;
    background-color: rgb(255, 158, 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}