.about {
  grid-row: 2/3;
  grid-column: 2/3;
  min-height: 100vh;
  width: 80vw;
  .about-headers {
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    h1 {
      padding: 15px;
      font-size: 3vw;
    }
  }
  .frameworks {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding-top: 5vw;
    img {
      height: 10vw;
    }
  }
  .hosted-by {
    padding-top: 30px;
    img {
      height: 10vw;
    }
  }
  .names-container {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    .dev-container {
      align-self: flex-start;
      text-align: center;
      height: 10vw;
      img {
        padding: 5px;
      }
      .github-img {
        filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(306deg) brightness(103%) contrast(101%);
      }
      .img-container {
        position: relative;
        overflow: hidden;
        border-radius: 100%;
        border: white 0.5px solid;
        height: 15vw;
        width: 15vw;
        margin-bottom: 10px;
        img {
          height: 20vw;
          position: absolute;
          left: -1vw;
        }
        .gilead {
          height: 20vw;
          left: 0;
        }
      }
    }
  }
}
