.signup-login {
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    gap: 20px;
    grid-row: 2/3;
    grid-column: 2/3;
    margin-top: 30px;
    align-items: start;
    .title {
        margin-bottom: 10px;
    }
    form {
        display: flex;
        flex-direction: column;
        // align-items: center;
        gap: 10px;
    }
    .signup {
        grid-column: 2;
        border: white solid 2px;
        padding: 10px;
    }
    .login {
        grid-column: 2;
        padding: 10px;
        border: white solid 2px;
        .log-in {
            font-size: 1.3rem;
            margin-bottom: 10px;
        }
    }
}